<div class="product-price">
    {% if product.available %}
        
        {% if product.stock > 0 or settings.without_stock_sale %} 
        
            {% if product.upon_request %}
                <p>Produto Sob Consulta</p>
            {% else %}
            
                {% if product.has_other_prices %}
                    <span class="price-various">{{ Translation('a_partir_de') }}</span> 
                {% endif %} 
                
                {% if settings.price_before_style == 'strike' or settings.price_before_style == 'strike-depor' %}
                    {% set priceStyle = 'strike' %}

                {% endif %}
                
                {% if settings.price_before_style == 'depor' or settings.price_before_style == 'strike-depor' %}
                    {% set priceOld = 'De: ' %}
                {% endif %}
                    
                {% if product.price_offer > 0 and product.show_price %}
                    <div class="price-before {{ priceStyle }}">
                                      
                        <div>
                            {{ priceOld }} <abbr class="currency" title="BRL">{{ settings.currency }}</abbr> {{ product.price|currency }}
                        </div>
                    </div>
                    <div class="price-promotion">
                        <div class="price-off">{{ priceOld ? 'Por: ' }} R$ {{ product.price_offer|currency  }}</div>
                    </div>
                {% else %}
                    <span>R$ {{ product.price|currency }}</span>
                {% endif %}
            {% endif %}
            
        {% else %} 
            <p>Esgotado!</p>
        {% endif %} 
        
    {% else %} 
        <p>Indispon&iacute;vel</p> 
        
    {% endif %} 
    
</div>
