<nav class="horizontal-nav container hidden-xs" data-tray-tst="menu_categorias">
    <ul class="level1" data-tray-tst="categoria">
        
        <!-- TODAS CATEGORIAS -->
        {% if categories|length > 6 %}
            <li class="item-level1 all-categories col-sm-2">
                <a href="javascript:void(0)" class="link-level1">
                    <span>Todas as categorias</span>
                </a>
                
                <ul class="level2">
                    {% for category in categories %}
                        {% if loop.index <= limit or not limit %}
                            <li class="item-level2">
                                <a href="{{ category.link }}" class="link-level2">
                                    <span>{{ category.name }}</span>
                                </a>
                                
                                {# SEGUNDO NIVEL
                                {% if category.children  %}
                                  <ul class="level3">
                                    {% for child in category.children %}
                                        <li class="item-level3">
                                            <a href="{{ child.link }}" class="link-level3" data-tray-tst="categoria_lvl_3">
                                                <span>{{ child.name }}</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                  </ul>
                                {% endif %}
                                #}
                                
                                
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>           
      
            </li>
        {% endif %}        
        
        {% for level1 in categories %}
        
            {% if categories|length > 6 %}
            
                {% if loop.index <= 5 %}
                    <li class="item-level1 col-sm-2 {{ loop.index > 3 ? 'sub-left' }}">
                        <a href="{{ level1.link }}" class="link-level1" data-tray-tst="categoria_lvl_1">
                            <span>{{ level1.name }}</span>
                        </a>
                        
                        {% if level1.children  %}
                            <ul class="level2">
                            {% for level2 in level1.children %}
                                <li class="item-level2">
                                     <a href="{{ level2.link }}" class="link-level2" data-tray-tst="categoria_lvl_2">
                                         <span>{{ level2.name }}</span>
                                     </a>
                                     
                                     {% if level2.children  %}
                                        <ul class="level3">
                                        {% for level3 in level2.children %}
                                            <li class="item-level3">
                                                 <a href="{{ level3.link }}" class="link-level3" data-tray-tst="categoria_lvl_3">
                                                     <span>{{ level3.name }}</span>
                                                 </a>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endif %}
                
            {% else %}
            
                <li class="item-level1 col-sm-2 {{ loop.index > 3 ? 'sub-left' }}">
                    <a href="{{ level1.link }}" class="link-level1" data-tray-tst="categoria_lvl_1">
                        <span>{{ level1.name }}</span>
                    </a>
                    
                    {% if level1.children  %}
                        <ul class="level2">
                        {% for level2 in level1.children %}
                            <li class="item-level2">
                                 <a href="{{ level2.link }}" class="link-level2" data-tray-tst="categoria_lvl_2">
                                     <span>{{ level2.name }}</span>
                                 </a>
                                 
                                 {% if level2.children  %}
                                    <ul class="level3">
                                    {% for level3 in level2.children %}
                                        <li class="item-level3">
                                             <a href="{{ level3.link }}" class="link-level3" data-tray-tst="categoria_lvl_3">
                                                 <span>{{ level3.name }}</span>
                                             </a>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </li>
                
            {% endif %}
            
        {% endfor %}
        
        
        
    </ul>
</nav>